<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article</title>
    <%- css %>
  </head>
  <body>
    <h1>Article</h1>
    <table>
      <tr>
        <td class="key">Nom</td>
        <td class="value"><%= article.name %></td>
      </tr>
      <tr>
        <td class="key">Prix</td>
        <td class="value"><%= article.price %></td>
      </tr>
      <tr>
        <td class="key">Quantité</td>
        <td class="value"><%= article.qty %></td>
      </tr>
      <tr>
        <td class="key">Images</td>
        <td class="value">
          <div class="images">
            <% for(const data of images) { %>
            <img src="<%= data %>" alt="Image" />
            <% } %>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
